.main_content{
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

/* make scroll */
.scrollbar {
  height: 650px !important;
  overflow-y: scroll;
}

/* split chatbox */
.header-chatbox{
  height: 10%;
}
.body-chatbox{
  height: 80%
}
.footer-chatbox{
  height: 10%;
}

/* split left-chatbox - bar */
.search-left{
  height: 7%;
}

.list-user{
  height:93%;
}

#wrapper {
  margin: auto;
}

/* css cute scrollbar */
.scroll-style-1::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
} 
.scroll-style-1::-webkit-scrollbar-thumb {
  background-color: rgba(37,99,235,0.5);
}
.scroll-style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

/* responsive */
@media (min-width: 1024px) {
    .container {
        max-width: 950px !important;
        padding-top: 10px !important;
    }
}
@media (max-width: 1023px) {
  .left-message{
    display: none !important;
  }
}

/* click uil_bảe */
.fa-bars::before {
  content: '\e872';
}
